# dependencies
Tarea-No2/Frontend/reactfront/node_modules
Tarea-No2/Backend/node_modules
Proyecto1/Frontend/react-front/node_modules
Tarea-No4/grpcServer/ .env
Proyecto/Proyecto2/Servicio1/vueproyect/salidalogs/node_modules
Proyecto/Proyecto2/Servicio1/nodejsapicloudrun/node_modules